.wp-block-button__link,
.btn {
  padding: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 0 !important;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: transit(color), transit(background-color);

  @include colored-links( white, white, white );

  &-primary {
    background-color: $orange;

    &:hover {
      background-color: lighten($orange, 10);
    }
  }

  &-outline {
    background-color: transparent;

    &.white {
      @include colored-links( white, $orange, white );

      border: 2px solid white;
      box-sizing: border-box;

      &:hover {
        border-color: $orange;
      }
    }
  }

  &-donate {
    a {
      background-color: $red;

      &:hover {
        background-color: darken($red, 10);
      }
    }
  }
}

button[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

.wp-block-buttons {
  div.wp-block-button {
    margin: 0;
  }
}

a.wp-block-button {
  &__link {
    @extend .btn;
    @extend .btn-primary;
  }
}

.is-style-outline {
  .wp-block-button__link {
    color: $orange;
    padding: 14px 16px;

    &:hover {
      color: white;
      background-color: $orange;
      border: 2px solid $orange;
    }
  }
}

body {
  .wdgk_donation_content {
    a.button.wdgk_add_donation {
      background-color: $orange !important;
      display: inline-block;
      border-radius: 0;
      padding: 16px;
    }
  }
}
