// TODO: .comment-list {}
// TODO: .comment-list ol {}
// TODO: .comment-form p {}
// TODO: .comment-form input {}
// TODO: .comment-form textarea {}

#comments {
  .comment-respond {
    .comment-reply-title {
      font-size: 22px;
    }

    p {
      label,
      input,
      textarea {
        display: block;
      }

      label {
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .comment-form {
      &-cookies-consent {
        label,
        input {
          display: inline-block;
        }

        label {
          font-weight: normal;
        }
      }
    }
  }
}
