/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="file"],
textarea {
  border: 1px solid grey;
  border-radius: 0;
  padding: 13px;
  line-height: 1;
  box-sizing: border-box;
}

input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  cursor: pointer;

  &::before {
    content: "\f1b0";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    color: rgba(grey, 0.3);
    background-color: white;
    display: block;
  }

  &:checked::before {
    color: $orange;
  }

  & + label {
    cursor: pointer;
    margin-left: 10px;
  }
}

fieldset {
  border: 0;
}

select {
  padding: 12px 1em;
  max-width: 100%;
}

.nf-field {
  .submit-wrap {
    .ninja-forms-field {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.nf-field-description {
  font-size: 14px;
  margin-bottom: 10px;
}
