@import "archive-shop";
@import "single-product";
@import "cart";
@import "checkout";

.woocommerce {
  &-pagination {
    margin: 50px 0;

    .page-numbers {
      display: flex;
      justify-content: center;

      li {
        a,
        span {
          padding: 16px 20px;
          line-height: 1;
        }
      }
    }
  }

  &-notices-wrapper {
    margin: 0 0 50px;
  }
}
