.post-type-archive-product {
  .wrap.container {
    @include sitewidth;
  }

  .content {
    display: grid;

    @include bp( 1250 ) {
      grid-template-columns: minmax(0, auto) 300px;
      gap: 50px;
    }
  }

  .main {
    ul,
    ol {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .results-sorting-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "notices notices"
        "results ordering";
      margin-bottom: 30px;
    }

    .woocommerce {
      &-notices-wrapper {
        grid-area: notices;
      }

      &-result-count {
        grid-area: results;
        margin: 0;
      }

      &-ordering {
        grid-area: ordering;
        justify-self: end;
      }
    }

    .products {
      display: grid;
      gap: 50px 20px;

      img {
        height: auto;
      }

      @include bp( 1 ) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      @include bp( 1250 ) {
        grid-template-columns: repeat(3, 1fr);
      }

      .product {
        @extend .ext-product;
      }
    }
  }
}

.ext-product {
  display: block;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  padding-bottom: 30px;

  a {
    display: block;
  }

  .onsale {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: white;
    background-color: $orange;
    padding: 12px;
  }

  img {
    display: block;
  }

  h2 {
    padding: 20px 0;

    @include colored-links( black, $orange, black );
  }

  .price {
    font-size: 22px;
    color: $orange;

    del {
      font-size: 1rem;
      color: black;
    }

    ins {
      text-decoration: none;
    }
  }

  .button {
    @extend .btn;
    @extend .btn-primary;

    margin-top: 20px;
  }

  .added_to_cart {
    margin-top: 30px;

    @include colored-links( $orange, black, $orange );
  }
}
