.tax-pet_category,
.tax-previously_owned,
.tax-pet_gender,
.post-type-archive {
  .pet-archive-grid {
    @include bp( 1024 ) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 20px;
    }
  }

  .hentry {
    @include bp( 1, 767 ) {
      @include center-block;

      margin-bottom: 50px;
      max-width: 250px;
    }

    @include bp( 768 ) {
      display: grid;
      grid-template-columns: 250px auto;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas:
        "thumb title"
        "thumb features"
        "thumb button";
      gap: 0 30px;
    }

    .data {
      &-name {
        font-weight: bold;
      }
    }

    .post-thumbnail {
      @include bp( 768 ) {
        grid-area: thumb;
      }
    }

    img {
      display: block;
      margin-bottom: 20px;

      @include bp( 768 ) {
        margin-bottom: 0;
      }
    }

    .entry-title {
      margin-bottom: 30px;

      @include bp( 768 ) {
        grid-area: title;
        margin-top: 30px;
      }
    }

    .pet {
      &-features {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px 0;
        font-size: 14px;
        margin-bottom: 30px;

        @include bp( 768 ) {
          grid-area: features;
          margin-bottom: 0;
          align-self: center;
        }
      }

      &-feature {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;
      }
    }

    .btn-wrapper {
      @include bp( 768 ) {
        grid-area: button;
        margin-top: 30px;
      }
    }
  }
}
