.single-pet_cpt {
  .entry-content {
    .pet {
      &-features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
        margin-bottom: 50px;
        font-size: 14px;
        padding: 20px;
        background-color: rgba($orange, 0.1);
      }

      &-feature {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 20px;
        margin-bottom: 50px;

        .image {
          cursor: pointer;
        }
      }
    }

    .data {
      &-name {
        font-weight: bold;
      }
    }

    footer {
      padding: 30px 0;
    }

    .ava-pet-images-modal {
      display: none;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        background-color: rgba(grey, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .image {
        position: relative;
        height: 100vh;
      }

      img {
        @include absmid( "b" );

        width: unset;
      }

      .close-slider {
        @include absmid( "h" );

        bottom: 30px;
        z-index: 7;
      }
    }
  }
}
