.login-register-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;

    @include bp( 1 ) {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 16px;
    line-height: 1;
  }

  &-small {
    position: fixed;
    bottom: 80px;
    z-index: 9;
    left: -100%;
    transition: transit(left);

    &.open {
      left: 0;
    }

    @include bp( 1250 ) {
      display: none;
    }
  }

  &-large {
    grid-area: login;

    @include bp( 1, 1249 ) {
      display: none;
    }
  }
}
