.banner {
  @include bp( 1, 1249 ) {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 9;
  }

  .ava-grid {
    @include bp( 1250 ) {
      display: grid;
      grid-template-columns: 122px auto auto;
      grid-template-areas:
        "logo main social"
        ". . login";
      align-items: center;
      position: relative;
      z-index: 9;
    }
  }
}

.hamburger {
  grid-area: social;
  cursor: pointer;
  color: $orange;

  @include bp( 1, 1249 ) {
    float: right;
    padding: 15px 17px;
  }

  @include bp( 1250 ) {
    display: none;
  }
}

.nav-primary {
  @include bp( 1, 1249 ) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: white;
    margin-top: 68px;
    left: -100%;
    transition: transit(left);

    &.open {
      left: 0;
    }
  }

  .main-menu {
    .nav {
      margin: 0;
      padding: 0;

      @include bp( 1, 1249 ) {
        max-height: 400px;
        overflow-y: scroll;
        max-width: 80%;

        @include bp( 1 ) {
          @include scrollbars(3px, $orange, lightgrey);
        }

        @include bp( 1024 ) {
          @include scrollbars(6px, $orange, lightgrey);
        }
      }

      @include bp( 1250 ) {
        margin: 0 0 0 50px;
        display: flex;
      }

      li {
        list-style-type: none;
        position: relative;
        margin-left: 15px;

        ul {
          display: none;

          @include bp( 1250 ) {
            width: 200px;
          }
        }

        &:hover > a,
        &:focus > a {
          color: $red;
        }

        &:hover > ul,
        &:focus > ul {
          @include bp( 1250 ) {
            display: block;
            position: absolute;
            padding-left: 0;
            padding-right: 20px;
            background-color: white;
            box-shadow: 0 5px 5px rgba(black, 0.5);
          }

          li {
            position: relative;

            a {
              @include bp( 1250 ) {
                display: block;
              }
            }

            .drop-dropdown {
              @include bp( 1250 ) {
                position: absolute;
                right: 20px;
              }
            }

            &:hover > ul,
            &:focus > ul {
              top: 0;
              left: 100%;
            }
          }
        }

        &.red-menu-btn {
          @extend .btn-donate;

          a {
            @include colored-links( white, white, white );
          }
        }
      }

      .drop-dropdown {
        line-height: 40px;
        vertical-align: top;
        cursor: pointer;
        padding: 0 18px;
        position: absolute;
        top: 0;

        @include bp( 1 ) {
          right: 0;
        }

        @include bp( 1250 ) {
          right: -20px;
        }
      }

      a {
        text-decoration: none;
        padding: 14px 16px;
        display: inline-block;

        @include colored-links( $orange, black, $orange );
      }
    }
  }
}
