.social-menu {
  grid-area: social;
  display: grid;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    @include bp( 1250 ) {
      text-align: right;
    }
  }

  li {
    list-style-type: none;
    display: inline-block;
  }

  a {
    padding: 14px 19px;

    @include colored-links( $orange, black, $orange );
  }

  &.social-header {
    @include bp( 1, 1249 ) {
      position: fixed;
      bottom: 40px;
      z-index: 10;
      left: -100%;
      transition: transit(left);

      &.open {
        left: 0;
      }
    }

    @include bp( 1, 1250 ) {
      float: left;
      width: 100%;
    }
  }
}
