@import "donations";
@import "buy-a-brick";
@import "contact-form";
@import "display-product";

.ava-block {
  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.section-title {
  text-align: center;
  font-size: 4vmax;
  margin-bottom: 50px;
}
