.buy-a-brick-block {
  &-wrapper {
    @include sitewidth;

    .donations-title {
      text-align: center;
      font-size: 22px;
      margin: 70px 0 25px !important;
    }
  }

  .tabs {
    margin-bottom: 40px;
    padding: 0 20px;

    .tab-titles {
      margin: 0;
      padding: 0;

      @include bp( 1 ) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @include bp( 640 ) {
        display: flex;
        justify-content: space-between;
      }

      li {
        display: inline-block;
        cursor: pointer;
        padding: 16px;
        margin: 5px;
        border: 1px solid $orange;

        @include bp( 1 ) {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .squares {
    display: grid;
    grid-template-columns: repeat(auto-fit, 136px);
    gap: 5px;

    &-wrapper {
      max-width: 1165px;
      display: block;
      margin: 0 auto;
    }

    &-wrap {
      display: none;

      @include bp( 1 ) {
        padding: 0 20px;
      }

      &.active {
        display: block;
      }
    }

    .square {
      display: grid;
      width: 136px;
      height: 38px;
      max-width: 136px;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      align-items: center;
      background-image: url("../images/brick.png");
      background-repeat: no-repeat;

      .name {
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
        color: white;
        background-color: rgba(black, 0.2);
        letter-spacing: 1px;
        font-weight: bold;
        align-self: center;
        border-radius: 5px;
      }

      &:hover .square-popup {
        display: block;
        position: absolute;
        left: 0;
        top: -50px;
        padding: 10px;
        width: 150px;
        border: 0;
        color: white;
        background-color: $orange;
        box-shadow: 2px 2px 5px rgba(black, 0.5);
      }

      &-popup {
        display: none;
      }
    }
  }
}
