.display-product-block {
  &-wrapper {
    @include sitewidth;
  }

  .product-grid {
    display: grid;

    @include bp( 1, 767 ) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "thumb"
        "content"
        "button";
      gap: 30px 0;
    }

    @include bp( 768 ) {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "thumb content"
        "thumb content"
        "thumb button";
      gap: 30px;
      align-items: center;
    }
  }

  .image {
    grid-area: thumb;

    img {
      @include bp( 1, 767 ) {
        @include center-block;
      }
    }
  }

  .text {
    grid-area: content;
  }

  .btn-wrap {
    grid-area: button;
  }
}
