.donations-block {
  @include bp( 1, 1249 ) {
    padding-bottom: 40px;
  }

  &-wrapper {
    @include bp( 1250 ) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left right";
    }
  }

  .section-title {
    @include absmid( "b" );

    z-index: 1;
    color: white;

    @include bp( 1250 ) {
      grid-column: left / right;
    }
  }

  .block-content {
    @include bp( 1250 ) {
      grid-column: right;
      margin: 0 50px;
      display: grid;
      align-self: center;
      align-items: center;
      gap: 20px 0;
    }
  }

  .text,
  .btn-wrap {
    @include bp( 1, 1249 ) {
      padding: 0 20px;
    }
  }

  .image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    @include bp( 1, 1249 ) {
      margin-bottom: 40px;
    }

    @include bp( 1250 ) {
      grid-column: left;
      overflow: hidden;
    }

    &::after {
      content: "";
      //clip-path: polygon(100% 0, 80% 100%, 100% 100%);
      //background-color: white;
      position: absolute;
      top: 0;
      right: 0;

      @include bp( 1250 ) {
        border-style: solid;
        border-width: 0 0 400px 70px;
      }
    }

    .underlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-blend-mode: multiply;
      background-color: rgba($orange, 0.4);
    }

    img {
      display: block;
    }
  }

  .btn-wrap {
    @include bp( 1, 1249 ) {
      margin-top: 40px;
    }
  }
}
