footer.content-info {
  color: black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.1);
    background-image: url("../images/squares.png");
    z-index: 1;
  }

  @include bp( 1 ) {
    padding: 20px;
  }

  @include bp( 920 ) {
    padding: 40px 0 20px;
  }

  .container {
    @include sitewidth;
  }

  .wp-calendar-table {
    color: white;
  }

  .footer-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .sub-menu,
    .children {
      margin-left: 15px;
    }
  }

  li {
    margin-bottom: 20px;
  }

  a {
    @include colored-links($orange, white, $orange);

    font-size: 14px;
    display: inline-block;
  }

  .container,
  .footer-credits {
    position: relative;
    z-index: 2;
  }

  .widget-title {
    margin-bottom: 20px;
  }

  .footer-credits {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-top: 1px solid white;

    @include bp(1) {
      padding-top: 20px;
      font-size: 13px;
      margin-top: 20px;
    }

    @include bp( 920 ) {
      margin-top: 40px;
    }

    a {
      font-size: 13px;
    }

    span {
      @include bp(1, 767) {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;

        &.powered {
          margin-bottom: 0;
        }
      }

      @include bp(768) {
        margin-right: 1em;

        &.powered {
          margin-right: 0;
        }
      }
    }
  }
}
