// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.brand {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.banner {
  @include bp(1, 1249) {
    padding: 10px 0;
  }

  @include bp(1250) {
    padding: 30px 0;
    box-shadow: 5px 0 5px rgba($orange, 0.5);
  }

  .container {
    @include sitewidth;
  }

  .site-logo {
    @include bp(1, 1249) {
      float: left;
      margin-left: 17px;
    }
  }
}

.page-header {
  min-height: 335px;
  position: relative;
  margin-bottom: 50px;

  .woocommerce-page & {
    margin-bottom: 0;
  }

  &.red-title {
    h1 {
      color: $red;
    }
  }

  h1 {
    @include absmid("b");

    text-align: center;
    z-index: 2;
    color: white;
    padding: 50px 0;
    margin: 0;

    @include fluid-type(1px, 1200px, 22px, 80px);
  }

  .woocommerce-breadcrumb {
    @include absmid( "h" );

    position: absolute;
    z-index: 3;
    bottom: 30px;
    color: white;

    a {
      @include colored-links( white, $orange, white );
    }
  }

  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.45);
    z-index: 1;
  }
}
