.single,
.blog {
  .wrap.container {
    @include sitewidth;

    .content {
      display: grid;

      @include bp( 1 ) {
        grid-template-columns: 1fr;
      }

      @include bp( 1250 ) {
        grid-template-columns: auto 280px;
        gap: 50px;
      }
    }
  }
}

.blog {
  .main {
    article {
      margin-bottom: 100px;

      @include bp( 768 ) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
          "thumb topright"
          "thumb middleright"
          "thumb bottomright";
        gap: 10px 50px;
      }

      .post-thumbnail {
        grid-area: thumb;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid grey;

        @include bp( 1, 767 ) {
          height: 247px;
          margin-bottom: 30px;
        }

        @include bp( 768 ) {
          height: 100%;
        }

        img {
          display: block;
        }
      }

      header {
        grid-area: topright;
      }

      .entry-summary {
        grid-area: middleright;
      }

      .btn-wrap {
        grid-area: bottomright;
      }
    }
  }
}
