.wrap {
  overflow: hidden;

  .main {
    @include sitewidth;

    .ava-block {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}

.posts-pagination {
  margin-bottom: 50px;

  .page-numbers {
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      span,
      a {
        padding: 16px 20px;
        line-height: 1;
      }
    }
  }
}
