.post-navigation {
  margin: 50px 0;
  clear: both;
  float: left;
  width: 100%;

  .prev-link,
  .next-link {
    a {
      padding: 14px 12px;
      line-height: 1;
    }
  }

  .prev-link {
    float: left;
  }

  .next-link {
    float: right;
  }
}

.post {
  &-categories,
  &-tags {
    margin: 20px 0;

    .fas {
      color: $orange;
    }
  }
}

.single {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;

    img {
      display: block;
    }
  }

  .entry-meta {
    @include absmid( "h" );

    bottom: 0;
    color: white;
    z-index: 3;

    a {
      @include colored-links( white, $orange, white );
    }
  }

  figure {
    margin: 1em 0;
  }

  .wp-block-image figcaption,
  figcaption {
    margin: 0;
    padding: 10px;
    border: 1px solid $orange;
    border-top: 0;
    font-size: 13px;
  }

  footer {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}
