aside.sidebar {
  @include bp( 1, 1249 ) {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 20px;
  }

  .widget {
    @include bp( 1250 ) {
      margin-bottom: 50px;
    }

    &-title {
      color: $orange;
      margin-bottom: 20px;
    }
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .sub-menu,
    .children {
      margin-left: 15px;
    }
  }

  li {
    margin-bottom: 1rem;
  }
}

.woocommerce-page {
  .sidebar {
    margin-top: 50px;
  }
}
