$sans: "Source Sans Pro", sans-serif;

body {
  font-family: $sans;

  @include scrollbars(17px, $orange, lightgrey);
}

pre {
  white-space: pre-wrap;
  max-width: 80%;
}

a {
  text-decoration: none;

  @include colored-links( $orange, black, $orange );
}
