.custom-slick {
  &-arrow {
    &.arrows {
      &-blue {
        @include absmid("v");

        width: 25%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        background-color: rgba(black, 0.4);
        transition: transit(opacity);

        &:hover {
          opacity: 1;
        }

        &.custom-slick {
          &-prev,
          &-next {
            display: block;

            svg {
              @include absmid("v");

              color: white;
              font-size: 95px;
            }
          }

          &-prev {
            svg {
              position: absolute;
              left: 50%;
            }
          }

          &-next {
            right: 0;

            svg {
              position: absolute;
              right: 50%;
            }
          }
        }
      }
    }
  }
}
